// Global Components

h1,h2,h3,h4,h5,h6{
	.heading-font;
}

html{
	margin:0;
	padding:0;	
}

body{
	.body-font;
	margin:0;
	padding:0;
}

.text-muted {
	color: grey;
}

.text-primary {
	color: yellow;
}

::-moz-selection {
    text-shadow: none;
    background: yellow;
}

::selection {
    text-shadow: none;
    background: yellow;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
